@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Fraunces:opsz,wght@9..144,600;9..144,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-display: "Fraunces", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-display);
}

@theme {
  --color-brand-primary: #15616A;
  --color-brand-black: #0B1E22;
  --color-brand-white: #F2F7F8;
}